apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: acquisitions-logs-pvc
  labels:
    app: acquisitions
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
